<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

<% if !current_user.nil? %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id  %>
  </div>
  <% end %>

<% if !@venue.nil? %>
  <div class="field">
    <%= f.hidden_field :venue_id, value: @venue.id %>
  </div>
<% end %>

<% if !@event.nil? %>
  <div class="field">
    <%= f.hidden_field :event_id, value: @event.id  %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
