<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="comment-container">
    <div id="comment-row-1">
      <div class="field pull-left" id="comment-title">
        <%= f.text_field :title, placeholder: :title %>
      </div>

      <div class="actions pull-right" id="comment-submit">
        <%= f.submit 'Leave a Review', :class => 'btn btn-success' %>
      </div>
    </div> <!-- id="comment-row-1" -->

    <div id="comment-row-2">
      <div class="field" id="comment-text">
        <%= f.text_area :text, placeholder: 'Questions? Comments? Concerns?', id: 'comment_submit' %>
      </div>
    </div> <!-- id="comment-row-2" -->
  </div>

<% if !current_user.nil? %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id  %>
  </div>
<% end %>

<% if !@venue.nil? %>
  <div class="field">
    <%= f.hidden_field :venue_id, value: @venue.id %>
  </div>
<% end %>

<% if !@event.nil? %>
  <div class="field">
    <%= f.hidden_field :event_id, value: @event.id  %>
  </div>
<% end %>


<% end %>
