<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="comment-container">
      <div class="form-group" id="comment-title">
        <%= f.text_field :title, placeholder: :title, class: "form-control" %>
      </div>

      <div class: "form-group" id="comment-text">
        <%= f.text_area :text, placeholder: 'Questions? Comments? Concerns?', id: 'comment_submit', class: "form-control", rows: 5 %>
      </div>

      <br>

      <div class="actions pull-right form-group" id="comment-submit">
        <%= f.submit 'Leave a Comment', class: 'btn btn-success' %>
      </div>
  </div>

  <% if !current_user.nil? %>
    <div class: "form-group">
      <%= f.hidden_field :user_id, value: current_user.id  %>
    </div>
  <% end %>

  <% if !@venue.nil? %>
    <div class: "form-group">
      <%= f.hidden_field :venue_id, value: @venue.id %>
    </div>
  <% end %>

  <% if !@event.nil? %>
    <div class: "form-group">
      <%= f.hidden_field :event_id, value: @event.id  %>
    </div>
  <% end %>


<% end %>
