    <h1>Hi, <%= @user.username %>!</h1>


    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <% if @user.image.file? %>
    <p>
     <a><%= image_tag(@user.image.url(:medium)) %></a>
     <% else %>
     <%= link_to image_tag('profile.jpeg') %>
    </p>
    <% end %>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<strong>Street 1:</strong>
<%= @user.street_1 %>
</p>

<p>
<strong>Street 2:</strong>
<%= @user.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>
<br>

<% if !@user_events.nil? %>
  <h4>My Events</h4>
  <table>
    <% @user_events.each do |event| %>
      <tr>
        <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>

<% if !@user_venues.nil? %>
  <h4>My Venues:</h4>
  <table>
    <% @user_venues.each do |venue| %>
      <tr>
        <td><a href="/venues/<%= venue.id %>"><%= venue.name %></a></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>


<% if !@user_rsvps.nil? %>
  <h4>My RSVPs:</h4>
  <table>
    <% @user_rsvps.each do |rsvp| %>
      <tr>
        <td><a href="/venues/<%= rsvp.event_id %>"><%= rsvp.event.name %></a></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>

<!-- Make sure that the first condition refers to this user's ownership -->
<% if !current_user.nil? && @user == current_user %>
  <%= link_to "Edit", edit_user_registration_path%>
<% elsif @ability.can?(:rud, User) %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
