    <h1>Hi, <%= @user.username %>!</h1>


    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <% if @user.image.file? %>
    <p>
     <%= link_to image_tag(@user.image.url(:medium)), @user.image.url %>
     <% else %>
     <%= link_to image_tag('profile.jpeg') %>
    </p>
    <% end %>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<strong>Street 1:</strong>
<%= @user.street_1 %>
</p>

<p>
<strong>Street 2:</strong>
<%= @user.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<% if !@user_events.nil? %>
  <% @user_events.each do |event| %>
    <table>
      <h4>My Events</h4>
        <tbody>
          <tr>
            <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
        </tbody>
    </table>
  <% end %>
<% end %>
<br>

<% if !@user_venues.nil? %>
  <% @user_venues.each do |venue| %>
      <table>
        <h4>My Venues:</h4>
          <tbody>
          <tr>
            <td><a href="/venues/<%= venue.id %>"><%= venue.name %></a></td>
          </tr>
        </tbody>
      </table>
  <% end %>
<% end %>
<br>


  <%= link_to "Edit", edit_user_registration_path %>
