<% content_for :head do %>
  <meta property="og:url"           content="http://localhost:3000" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Whelp" />
  <meta property="og:description"   content="The Dog Lovers Site for Dogs!" />
  <!-- <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /> -->
<% end %>

<h1>Whelcome to Whelp!</h1>

<p>
  <div class="fb-share-button" data-href="<%= root_path %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
</p>

<p>Dog lovers site for dog events and venues.</p>

<br>

<div> <!-- Search bar begins -->
  <label>Search for dog-friendly events or venues here!</label>
  <%= form_tag({controller: "welcome", action: "index"}, method: "get") do %>
    <%= text_field_tag :search_params %>
    <%= submit_tag 'Search' %>
  <% end %>
</div> <!-- Search bar ends -->

<% if !@search_results.nil? %>
  <div> <!-- Search results area begins -->
    <% if @search_results.empty? %>
      <h4>No results match your search!</h4>
    <% elsif @search_results.length > 0 %>
      <h4>Here are your results:</h4>
      <ul>
        <% @search_results.each do |result| %>
          <li><%= result.name %></li>
        <% end %>
      </ul>
    <% end %>
  </div> <!-- Search results area ends -->
<% end %>

<hr>
<div id="welcome_map">Google Map will appear here...</div>

<h2>Events and Meet(p)ups</h2>
<div id="eventsCalendar"></div>
