<% content_for :head do %>
  <meta property="og:url"           content="http://localhost:3000" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Whelp" />
  <meta property="og:description"   content="The Dog Lovers Site for Dogs!" />
  <!-- <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /> -->
<% end %>

<div class="preloader">
	<%= image_tag("loader.gif", alt: "Preloader image") %>
</div>
<nav class="navbar">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><%= image_tag("logo.png", data: { active: { url: "logo-active.png" } }, alt: "") %></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left main-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/venues">Venues</a></li>
				<li><a href="/events">Events</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right main-nav">

        <% if !user_signed_in? %>
          <li><%= link_to 'Sign Up', new_user_registration_path, { class: 'btn btn-blue'} %></li>
					<li><%= link_to 'Sign In', new_user_session_path, { class: 'btn btn-blue'} %></li>
        <% else %>
          <li><%= link_to "Hi, #{current_user.username}", "/users/#{current_user.id}" %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, { method: :delete, data: { toggle: 'modal', target: '#modal1'}, class: 'btn btn-blue'} %></li>
        <% end %>

				<li>
          <div> <!-- Search bar begins -->
            <%= form_tag({controller: "welcome", action: "search"}, method: "get") do %>
              <%= text_field_tag :search_params, nil, placeholder: "Search" %>
							<%= button_tag(:id => "search") do %>
							<i class="fa fa-search"></i>
							<% end %>
              <!-- <%= submit_tag 'Search' %> -->
            <% end %>
          </div> <!-- Search bar ends -->
        </li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<header id="intro">
	<div class="container">
		<div class="table">
			<div class="header-text">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3 class="light white">Whelp!</h3>
						<h1 class="white typed">A dog lover's site for dog-friendly events and venues</h1>
						<span class="typed-cursor">|</span>
						<p>
						  <div class="fb-share-button" data-href="<%= root_path %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>

						  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row intro-tables">
			<div class="col-md-4">
				<div class="intro-table intro-table-first">
					<h5 class="white heading">Upcoming Events</h5>
					<div class="owl-carousel owl-schedule bottom">
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 1</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 2</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 3</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 4</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 5</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 6</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 7</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 8</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Event 9</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">Date</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="intro-table intro-table-hover">
					<h5 class="white heading hide-hover">Don't Know Where to Start? Try:</h5>
					<div class="bottom" id="bottom-2">
						<a href="#featured" class="btn btn-white-fill expand">Maps</a><br>
						<a href="#calendar" class="btn btn-white-fill expand">Calendars</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="intro-table intro-table-third">
					<h5 class="white heading">Happy Pups</h5>
					<div class="owl-testimonials bottom">
						<div class="item">
							<h4 class="white heading content">Best idea ever! I can bring my dawgs everywhere!</h4>
							<h5 class="white heading light author">2 Chainz</h5>
						</div>
						<div class="item">
							<h4 class="white heading content">Who let the dogs out? Me! And for only 5&cent; a month!</h4>
							<h5 class="white heading light author">Sarah McLachlan</h5>
						</div>
						<div class="item">
							<h4 class="white heading content">I can't believe it's not butter!</h4>
							<h5 class="white heading light author">Paula Deen</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="featured" class="section section-padded">
	<div class="container">
		<div class="row text-center title">
			<h2>Featured Events</h2>
			<h4 class="light muted">Check out these awesome, hand-picked events!</h4>
		</div>
		<div class="row featured">
			<% @events.each do |event| %>
				<% if event.featured? %>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<%= image_tag("heart-blue.png", class: "icon", alt: "") %>
						</div>
						<h4 class="heading"><%= link_to "#{event.name}", "/events/#{event.id}" %></h4>
						<h5 class="heading">Venue: <%= link_to "#{event.venue.name}", "/venues/#{event.venue_id}" %></h5>
						<p class="description"><%= event.description %></p>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<section class="section section-padded blue-bg" id="map-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="margin-top white">Current Venues &amp; Events</h2>
				<h4 class="light white">Check out all of these pup destinations!</h4>
				<h5 class="light white">Total Venues: <span><%= @venues.count %></span></h5>
				<h5 class="light white">Total Events: <span><%= @events.count %></span></h5>
				<div id="welcome_map" class="text-center">
			    Google Map will appear here...
			  </div>
			</div>
		</div>
	</div>
</section>

<section id="calendar" class="section">
	<div class="container">
		<div class="row title">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="margin-top white">Upcoming Events</h2>
				<h4 class="light white">See what dog-friendly events are coming up near you!</h4><br>

				<div class="box-main active text-center" data-img="<%= asset_path('calendar1.jpg') %>">
					<div id="eventsCalendar" class="text-center"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="team" class="section gray-bg">
	<div class="container">
		<div class="row title text-center">
			<h2 class="margin-top">Team</h2>
			<h4 class="light muted">We're a dream team!</h4>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="team text-center">
					<div class="cover" style="background:<%= asset_path('team-cover1.jpg') %>; background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">$69.00</h3>
							<h5 class="light light-white">1 - 5 sessions / month</h5>
						</div>
					</div>
					<%= image_tag("team3.jpg", class: "avatar", alt: "Team Image") %>
					<div class="title">
						<h4>Ben Adamson</h4>
						<h5 class="muted regular">Fitness Instructor</h5>
					</div>
					<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team text-center">
					<div class="cover" style="background:<%= asset_path('team-cover2.jpg') %>; background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">$69.00</h3>
							<h5 class="light light-white">1 - 5 sessions / month</h5>
						</div>
					</div>
					<%= image_tag("team1.jpg", class: "avatar", alt: "Team Image") %>
					<div class="title">
						<h4>Eva Williams</h4>
						<h5 class="muted regular">Personal Trainer</h5>
					</div>
					<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team text-center">
					<div class="cover" style="background:<%= asset_path('team-cover3.jpg') %>; background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">$69.00</h3>
							<h5 class="light light-white">1 - 5 sessions / month</h5>
						</div>
					</div>
					<%= image_tag("team2.jpg", class: "avatar", alt: "Team Image") %>
					<div class="title">
						<h4>John Phillips</h4>
						<h5 class="muted regular">Personal Trainer</h5>
					</div>
					<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 text-center text-center-mobile">
				<h3 class="white">Whelp: Where Everything's Going to the Dogs</h3>
				<h5 class="light regular light-white">Sign up now to start contributing!</h5>
				<a href="/my/users/sign_up" class="btn btn-blue ripple trial-button">Sign Up</a>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row bottom-footer text-center-mobile">
			<div class="col-sm-8">
				<p class="white">&copy; 2017 Whelp. Powered by <a href="http://www.phir.co/">PHIr</a> exclusively for <a href="http://tympanus.net/codrops/">Codrops</a></p>
			</div>
			<div class="col-sm-4 text-right text-center-mobile">
				<ul class="social-footer">
					<li><a href="http://www.facebook.com/pages/Codrops/159107397912"><i class="fa fa-facebook"></i></a></li>
					<li><a href="http://www.twitter.com/codrops"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://plus.google.com/101095823814290637419"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
	<ul>
	</ul>
	<a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
