<p>
  <strong>Average Rating:</strong>
  <%= rating_for @event, 'name' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<% if @event.image.file? %>
  <p>
    <%= link_to image_tag(@event.image.url(:large)), @event.image.url %>
  </p>
<% end %>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Hosted by:</strong>
  <% user = User.find(@event.venue.user_id) %>
  <%= user.first_name %>
</p>



<% if user_signed_in? %>
  <form action="/event_reviews" method="post">
    <label for="event_review_review">Review</label>
    <textarea name="event_review[review]" id="event_review"></textarea> <br>
    <input type="hidden" name="event_review[user_id]" value="<%= current_user.id%>">
    <input type="hidden" name="event_review[event_id]" value="<%= params[:id]%> "> <br>
    <input type="submit" value="Review!">

    <% if @event_reviews %>
      <h3>Reviews</h3>
      <% @event_reviews.each do |event_review| %>
        <h5> Posted By: <%= event_review.user.username %> </h5>
        <div class="event_reviews_area">
        <%= event_review.review %>
        </div>
        <%= link_to 'edit', edit_event_review_path(event_review) %>
        <%= link_to 'destroy', event_review_path(event_review), method: "delete" %>
      <% end %>
    <% end %>
  </form>
<% else %>
  <%= link_to 'Sign in to Review', new_user_session_path %>
<% end %>
  <br>

<!-- New comment form renders if user is logged in -->
<!-- Also displays current user's rating of event -->
<% if !current_user.nil? %>
  <p>
    My Rating : <%= rating_for_user @event, current_user, 'name' %>
  </p>

  <h3>New Comment</h3>
  <%= render 'comments/form', comment: @comment %>

<% else %>
 <%= link_to 'Sign in to Comment', new_user_session_path %>
<% end %>

<% if @comments %>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <h4> <%= comment.title %> </h4>
    <h5> Posted By: <%= comment.user.username %> </h5>
    <div class="comment_area">
    <%= comment.text %>
    </div>
    <%= link_to 'edit', edit_comment_path(comment) %>
    <%= link_to 'destroy', comment_path(comment), method: "delete" %>
  <% end %>
<% end %>

<div class="five_space">
</div>

<div class="show_edit_back_section">
  <% if !current_user.nil? && @event.user == current_user %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
  <% end %>
  <%= link_to 'Back', events_path %>
</div>
