<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<% if @event.image.file? %>
  <p>
    <%= link_to image_tag(@event.image.url(:large)), @event.image.url %>
  </p>
<% end %>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Hosted by:</strong>
  <% user = User.find(@event.venue.user_id) %>
  <%= user.first_name %>
</p>


<% if user_signed_in? %>
  <form action="/event_reviews" method="post">
    <textarea name="event_review[review]" style="margin-top: 0px; margin-bottom: 0px; height: 200px; width: 200px;"></textarea> <br>
     <input type="hidden" name="event_review[user_id]" value="<%= current_user.id%>">
    <input type="hidden" name="event_review[event_id]" value="<%= params[:id]%> "> <br>
    <input type="submit" value="Review!">

  </form>

  <% else %>
  | <%= link_to 'Sign in to Review', new_user_session_path %>

  <% end %>

<h3>New Comment</h3>
<%= render 'comments/form', comment: @comment %>

<% if @comments %>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <h5> Posted By: <%= comment.user.username %> </h5>
    <div class="comment_area">
    <%= comment.text %>
    </div>
    <%= link_to 'edit', edit_comment_path(comment) %>
    <%= link_to 'destroy', comment_path(comment), method: "delete" %>

  <% end %>
<% end %>

<div class="five_space">
</div>

<div class="show_edit_back_section">
  <% if !current_user.nil? && @event.user == current_user %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %> |
  <%= link_to 'Back', events_path %>
</div>
