<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Hosted by:</strong>
  <% user = User.find(@event.venue.user_id) %>
  <%= user.first_name %>
</p>

<h3>New Comment</h3>
<%= render 'comments/form', comment: @comment %>

<% if @comments %>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <h5> Posted By: <%= comment.user.username %> </h5>
    <div class="comment_area">
    <%= comment.text %>
    </div>
    <%= link_to 'edit', edit_comment_path(comment) %>
    <%= link_to 'destroy', comment_path(comment), method: "delete" %>

  <% end %>
<% end %>

<div class="five_space">
</div>

<div class="show_edit_back_section">
  <% if !current_user.nil? && @event.user == current_user %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %> |
  <%= link_to 'Back', events_path %>
</div>
