<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<% if @event.image.file? %>
  <p>
    <%= link_to image_tag(@event.image.url(:large)), @event.image.url %>
  </p>
<% end %>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Hosted by:</strong>
  <% user = User.find(@event.venue.user_id) %>
  <%= user.first_name %>
</p>

<% if !current_user.nil? && @event.user == current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %> |
<%= link_to 'Back', events_path %>
