<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Hosted by:</strong>
  <% user = User.find(@event.venue.user_id) %>
  <%= user.first_name %>
</p>

<% if !current_user.nil? && @event.user == current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %> |
<%= link_to 'Back', events_path %>

<% if user_signed_in? %>
  <form action="/event_reviews" method="post">
    <textarea name="event_review[review]" style="margin-top: 0px; margin-bottom: 0px; height: 200px; width: 200px;"></textarea> <br>
     <input type="hidden" name="event_review[user_id]" value="<%= current_user.id%>">
    <input type="hidden" name="event_review[event_id]" value="<%= params[:id]%> "> <br>
    <input type="submit" value="Review!">

  </form>

  <% else %>
  | <%= link_to 'Sign in to Review', new_user_session_path %>

  <% end %>
