<%= form_for @venue, html: { multipart: true } do |f| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table>
  <tr>
    <td>
      <%= f.label :name %>
    </td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :description %>
    </td>
    <td>
      <%= f.text_area :description %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :street_1 %>
    </td>
    <td>
      <%= f.text_field :street_1 %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :street_2 %>
    </td>
    <td>
      <%= f.text_field :street_2 %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :city %>
    </td>
    <td>
      <%= f.text_field :city %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :state %>
    </td>
    <td>
      <%= f.text_field :state %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :zip %>
    </td>
    <td>
      <%= f.text_field :zip %>
    </td>
  </tr>
</table>

<br>

  <% ability = Ability.new(current_user) %>
  <% if ability.can?(:create, Venue) %>
    <div class="field">
      <input type="hidden" name="venue[user_id]" id="venue_id" value="<%=current_user.id%>">
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
