<% content_for :head do %>
  <meta property="og:url"           content="http://whelpsd.com<%= venue_path(@venue) %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<%= @venue.name %>" />
  <meta property="og:description"   content="<%= @venue.description %>" />
  <meta property="og:image"         content="<%= @venue.image %>" />
<% end %>

<p>
  <strong>Average Rating:</strong>
  <%= rating_for @venue, 'name', disable_after_rate: true %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
 <%= link_to image_tag(@venue.image.url(:large)), @venue.image.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @venue.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @venue.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @venue.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @venue.zip %>
</p>

<p>
  <strong>User:</strong>
  <%= @venue.user.username %>
</p>

<!-- Share/Tweet buttons for Facebook and Twitter -->
<div class="fb-share-button" data-href="http://whelpsd.com<%= venue_path(@venue) %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>
<a href="https://twitter.com/share/tweet?text=Bring%20your%20dogs%20to%20<%= @venue.name.gsub!(/\s/,'%20') %>%20as%20found%20on%20WhelpSD.com%21" class="twitter-share-button" data-show-count="false">Tweet</a>

<% if user_signed_in? %>
  <form action="/venue_reviews" method="post">
  <label for="venue_review_review">Review</label>
    <textarea name="venue_review[review]" id="venue_review"></textarea> <br>
     <input type="hidden" name="venue_review[user_id]" value="<%= current_user.id%>">
    <input type="hidden" name="venue_review[venue_id]" value="<%= params[:id]%> "> <br>
    <input type="submit" value="Review!">

    <% if @venue_reviews %>
      <h3>Reviews</h3>
      <% @venue_reviews.each do |venue_review| %>
        <h5> Posted By: <%= venue_review.user.username %> </h5>
        <div class="venue_reviews_area">
        <%= venue_review.review %>
        <%= link_to 'edit', edit_venue_review_path(venue_review) %>
        <%= link_to 'destroy', venue_review_path(venue_review), method: "delete" %><br><br>
      <% end %>
    <% end %>

  </form>
  <% else %>
   <%= link_to 'Sign in to Review', new_user_session_path %>

  <% end %>
  <br>

  <!-- New comment form renders if user is logged in -->
  <!-- Also displays current user's rating of venue -->
<% if !current_user.nil? %>
  <p>
    My Rating : <%= rating_for_user @venue, current_user, 'name', cancel: false %>
  </p>
  <h3>New Comment</h3>
  <%= render 'comments/form', comment: @comment %>
<% else %>
 <%= link_to 'Sign in to Comment', new_user_session_path %>
<% end %>

<% if @comments %>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <h4> <%= comment.title %> </h4>
    <h5> Posted By: <%= comment.user.username %> </h5>
    <div class="comment_area">
    <%= comment.text %>
    <%= link_to 'edit', edit_comment_path(comment) %>
    <%= link_to 'destroy', comment_path(comment), method: "delete" %><br><br>
  <% end %>
    </div>
<% end %>


<div class="five_space">
</div>

<div class="show_edit_back_section">
  <% if !current_user.nil? && @venue.user == current_user %>
    <%= link_to 'Edit', edit_venue_path(@venue) %> |
  <% end%>
  <%= link_to 'Back', venues_path %>
</div>

<div id="venue_map" data-venue-id="<%=@venue.id%>">Google Map will appear here...</div>
