<p>
  <strong>Average Rating:</strong>
  <%= rating_for @venue, 'name', disable_after_rate: true %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<% if @venue.image.file? %>
<p>
 <%= link_to image_tag(@venue.image.url(:large)), @venue.image.url %>
 <% else %>
 <% link_to image_tag('default.png') %>
</p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @venue.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @venue.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @venue.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @venue.zip %>
</p>

<p>
  <strong>User:</strong>
  <%= @venue.user.username %>
</p>

<% if user_signed_in? %>
  <form action="/venue_reviews" method="post">
  <label for="venue_review_review">Review</label>
    <textarea name="venue_review[review]" id="venue_review"></textarea> <br>
     <input type="hidden" name="venue_review[user_id]" value="<%= current_user.id%>">
    <input type="hidden" name="venue_review[venue_id]" value="<%= params[:id]%> "> <br>
    <input type="submit" value="Review!">

    <% if @venue_reviews %>
      <h3>Reviews</h3>
      <% @venue_reviews.each do |venue_review| %>
        <h5> Posted By: <%= venue_review.user.username %> </h5>
        <div class="venue_reviews_area">
        <%= venue_review.review %>
        <%= link_to 'edit', edit_venue_review_path(venue_review) %>
        <%= link_to 'destroy', venue_review_path(venue_review), method: "delete" %><br><br>
      <% end %>
    <% end %>

  </form>
  <% else %>
   <%= link_to 'Sign in to Review', new_user_session_path %>

  <% end %>
  <br>

  <!-- New comment form renders if user is logged in -->
  <!-- Also displays current user's rating of venue -->
<% if !current_user.nil? %>
  <p>
    My Rating : <%= rating_for_user @venue, current_user, 'name', cancel: false %>
  </p>
  <h3>New Comment</h3>
  <%= render 'comments/form', comment: @comment %>
<% else %>
 <%= link_to 'Sign in to Comment', new_user_session_path %>
<% end %>

<% if @comments %>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <h4> <%= comment.title %> </h4>
    <h5> Posted By: <%= comment.user.username %> </h5>
    <div class="comment_area">
    <%= comment.text %>
    <%= link_to 'edit', edit_comment_path(comment) %>
    <%= link_to 'destroy', comment_path(comment), method: "delete" %><br><br>
  <% end %>
    </div>
<% end %>


<div class="five_space">
</div>

<div class="show_edit_back_section">
  <% if !current_user.nil? && @venue.user == current_user %>
    <%= link_to 'Edit', edit_venue_path(@venue) %> |
  <% end%>
  <%= link_to 'Back', venues_path %>
</div>
