<% content_for :head do %>
  <meta property="og:url"           content="https://evening-eyrie-72767.herokuapp.com/venues/<%= event_path(@venue) %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<%= @venue.name %>" />
  <meta property="og:description"   content="<%= @venue.description %>" />
  <meta property="og:image"         content="<%= @venue.image %>" />
<% end %>


<!-- Bootstrap Template -->
<div class="thumbnail">
  <div id="venue_map" data-venue-id="<%=@venue.id%>">
    Google Map will appear here...
  </div>

  <div class="caption-full">
    <div id="info-left">
      <div id="info-text">
        <p>
          <h3><%= @venue.name %></h3>
          <% if !current_user.nil? && @ability.can?(:rud, @venue, user_id: current_user.id) %>
            <%= link_to 'Edit', edit_venue_path(@venue) %> |
            <%= link_to 'Destroy', @venue, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>

        <p>
        <!-- Share/Tweet buttons for Facebook and Twitter -->
          <div class="fb-share-button" data-href="https://evening-eyrie-72767.herokuapp.com/venues/<%= event_path(@venue) %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>
          <a href="https://twitter.com/share/tweet?text=Bring%20your%20dogs%20to%20<%= @venue.name.gsub!(/\s/,'%20') %>%20as%20found%20on%20WhelpSD.com%21" class="twitter-share-button" data-show-count="false">Tweet</a>
        </p>

        <p>
          <strong>Address: </strong>
            <%= "#{@venue.street_1} #{@venue.street_2} #{@venue.city} #{@venue.state} #{@venue.zip}" %>
        </p>

        <p>
          <strong>Added By:</strong>
          <%= link_to "#{@venue.user.username}", "/users/#{@venue.user_id}"  %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @venue.description %>
        </p>

        <div id="rating_div">
          <% if !current_user.nil? %>
            <%= render 'ratings/form', rating: @rating %>
            <p class="pull-left">
              <strong>My Rating:</strong>
              <span id="rating_span">
                <%= image_tag("star-off.png", id: "star_1") %>
                <%= image_tag("star-off.png", id: "star_2") %>
                <%= image_tag("star-off.png", id: "star_3") %>
                <%= image_tag("star-off.png", id: "star_4") %>
                <%= image_tag("star-off.png", id: "star_5") %>
              </span>
            </p>
          <% end %>
          <br>
          <span class="pull-left">
            <strong>Average Rating:</strong>
            <span id="avg_rating"></span>
          </span>
            <span class="pull-right">
              <span id="count_rating"></span>
              <strong> Rating(s)</strong>
            </span>

        </div>
      </div> <!-- info-text -->
    </div> <!-- info-left -->

    <div id="info-right">
      <%= link_to image_tag(@venue.image.url(:large)), @venue.image.url %>
    </div>
  </div> <!-- class="caption-full" -->
</div> <!-- class="thumbnail" -->

<div class="five_space">
</div>

<p class="pull-right"><%= @comments.count %> Comment(s)</p>
<h3>Comments</h3>
<div class="well">
  <div>
    <!-- New comment form renders if user is logged in -->
    <!-- Also displays current user's rating of event -->
    <% if !current_user.nil? %>
      <h3>New Comment</h3>
      <%= render 'comments/form', comment: @comment %>
    <% else %>
     <%= link_to 'Sign in to Comment', new_user_session_path %>
    <% end %>
  </div>

  <hr>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <div class="row">
        <div class="col-md-12">
          <h4> <%= comment.title %> </h4>
          <span>Posted By: <%= link_to "#{comment.user.username}", "/users/#{comment.user_id}" %> </span>
          <span class="pull-right"><%= "Posted " + date_to_s(comment.created_at) %></span>
          <p>
          <%= comment.text %>
          </p>
          <%= link_to 'Edit', edit_comment_path(comment) %> |
          <%= link_to 'Destroy', comment_path(comment), method: "delete" %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
