<%= form_for(venue_review) do |f| %>
  <% if venue_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue_review.errors.count, "error") %> prohibited this venue_review from being saved:</h2>

      <ul>
      <% venue_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :venue_id %>
    <%= f.text_field :venue_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
