<%= form_for(rsvp) do |f| %>
  <% if rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% rsvp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :event_id %>
    <%= f.text_field :event_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-success" %>
  </div>
<% end %>
