<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Whelp!</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li
        <% if request.original_url.ends_with?('/') %>
          class="active"
        <% end %>
        ><%= link_to 'Home', root_path %>
        </li>

        <li
        <% if request.original_url.ends_with?('/venues') %>
          class="active"
        <% end %>
        ><%= link_to 'Venues', venues_path %>
        </li>

        <li
        <% if request.original_url.ends_with?('/events') %>
          class="active"
        <% end %>
        ><%= link_to 'Events', events_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% else %>
          <li><%= link_to "Hi, #{current_user.username}", "/users/#{current_user.id}" %></li>
          <li class="pull-right"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% end %>
				<li>
          <div> <!-- Search bar begins -->
            <%= form_tag({controller: "/welcome", action: "search"}, method: "get") do %>
              <%= text_field_tag :search_params, nil, placeholder: "Search" %>
              <%= submit_tag 'Search' %>
            <% end %>
          </div> <!-- Search bar ends -->
        </li>
      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container -->
</nav>
